nav{
    background-color: transparent !important;
    position: absolute;
    top: 0;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
    
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    color: white !important;
}

.book-button a {
    padding: 0.5rem 1rem;
    background-color: #00bfa5;
    color: white;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .navbar {
        flex-direction: column;
    }
}
